html,
body {
  font-family: "Rubik", sans-serif !important;

  /* From https://css.glass */
  background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
  overflow: hidden; /* make browser scrollbar disappear */
}
